<%- include('./partials/header.ejs'); -%>

<div class="container">
  <h1>Article Saved!</h1>
  <p>Your article has been successfully saved.</p>
  
  <a href="/home" class="btn btn-primary">Back to Home</a>
</div>

<%- include('./partials/footer.ejs'); -%>
